<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.google.org/"><em>GAMGF
  App </em></a> is a
  <a href="http://www.google.org/">book</a> and
  <a href="http://www.google.org/">money app</a>

  Best application ! 
</p>
