<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the
  <a href="http://www.google.org/">GAMGF</a>.
  To get help on this sample app, see the
  <a href="http://www.google.org/"><em>GAMGF APP</em>
  book</a>.
</p>
