<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the GAMGF</h1>

  <h2>
    This is the home page for the
    <a href="/">GAMGF</a>
     application.
  </h2>

  <% if logged_in? %>
    <%= link_to "New expenses", 'expenses/new', class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
  <% end %>
  
</div>

<%= link_to image_tag("letter-g.png", alt: "G logo"),'/'  %>
