<div class="row">
  <div class="col-lg-2">
    <h1>Les Bons Amis</h1>
  </div>
  <div class="col-lg-2">
    <a class="" href="/expenses/new"> Test  </a>
    <%= button_to "Ajouter une dépense", "/expenses/new", class: 'btn btn-primary navbar-btn'%>
    <p>Find me in app/views/welcome/index.html.erb</p>
  </div>
</div>
