<footer class="footer">
  <small>
    The <a href="http://www.google.com/">GAMGF</a>
    by <a href="http://www.google.com/">GAMGF ®</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.google.org/">News</a></li>
    </ul>
  </nav>
</footer>
